.login {
    .login-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        justify-content: center;

        .app-name {
            font-size: 30px;
            font-weight: 700;
            color: var(--app-name-color);
            text-align: center;
        }

        .logo {
            width: 50px;
        }
    }

    .welcome-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        h2 {
            font-size: 25px;
            text-align: center;
            padding: 25px 25px 3px 25px;
        }

        p {
            font-size: 12px;
            color: var(--text-secondary);
        }
    }


    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        .login-input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 330px;
            min-height: 70px;

            .input-wrapper {
                display: flex;
                align-items: center;
            }

            .input_icon {
                position: absolute;
                width: 23px;
                left: 8px;
                z-index: 1;
            }

            input {
                padding-left: 35px;
                width: 330px;
                height: 40px;
                border: 1px solid var(--border-color);
                background-color: var(--input-bg);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            ::placeholder {
                color: var(--text-secondary);
                font-weight: 600;
                font-size: 16px;
            }

            .error_field {
                margin-top: 5px;

                .error-message {
                    color: red;
                    font-size: 12px;
                }
            }

        }

        .remember_password {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 20px;
            margin-left: 44px;
            align-self: flex-start;

            input[type="checkbox"] {
                width: 16px;
                height: 16px;
            }

            label {
                font-size: 14px;
                color: var(--link-color);
                font-weight: 500;
            }
        }


    }

    .login-button {
        padding: 10px;
        background-color: var(--link-color);
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        width: 330px;
    }

    .or-border {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 20px 0;

        hr {
            flex: 1;
            border: none;
            border-top: 1px solid #d3d3d3;
        }

        span {
            font-size: 14px;
            color: var(--text-secondary);
            font-weight: 500;
        }
    }


    .social-buttons-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 7rem;

        .social-button {
            width: 59px;
            padding: 3px;
        }
    }


    .login-meta {
        font-size: 14px;
        color: var(--text-secondary);
        line-height: 3.6;
        border-top: 1px solid #d3d3d3;
        display: flex;
        justify-content: center;
        gap: 7px;

        .login-link {
            color: var(--link-color);
            text-decoration: none;
            font-weight: 600;
        }
    }
}